<%- include ('partials/_header')%>

<div class="container">
  
    <div class="row">
      <!-- formulario -->
      <div class="col-md-5 offset-md-3">
        <div class="card">
          <div class="card-body">
            <form action="/edit/<%= task._id%>" method="POST">
              <div class="form-group">
                <input
                  type="text"
                  name="title"
                  id="title"
                  placeholder="Inserte un Titulo"
                  class="form-control"
                  value="<%= task.title %>"
                />
              </div>
  
              <div class="form-group">
                <textarea
                  name="description"
                  id="description"
                  cols="80"
                  class="form-control"
                  placeholder="Inserte una Descripcion"
                  
                ><%= task.description %></textarea>
              </div>
              <button
                type="submit"
                
                class="btn btn-primary btn-block">
                Actualizar Tarea
              </button>
            </form>
          </div>
        </div>
      </div>
     
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <%- include ('partials/_footer')%>